    
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="{{ url_for('home') }}">HALO ONLINE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('vehicles') }}">Vehicles</a>
                <a class="dropdown-item" href="{{ url_for('specialitems') }}">Special Items</a>
              </div>
            </div>
            <li class="nav-item">
                  <div class="logo-image">
                    <img id = "halo-logo" src="static/images/halo_img9.png">
                  </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              {% if current_user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="#">UserName</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>