{% extends 'components/layout.html' %}



{% block content %}
<img id = "vehicles-main-image" src="static/images/halo_img2.jpg" class="rounded mx-auto d-block">
<h2 id = "vehicles-description">{{vehicles}}</h2>

<div class="container">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
    </div>
  </div>
    </div>

{% endblock content%}
